In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('F:\DATAS\projects/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
526,tt0261392,22000000,33788161,Jay and Silent Bob Strike Back,Kevin Smith|Jason Mewes|Ben Affleck|Jeff Ander...,Kevin Smith,Hollywood had it coming,When Jay and Silent Bob learn that their comic...,104,Comedy,Dimension Films|View Askew Productions|Miramax,8/22/2001,6.3,2001
1586,tt0405159,30000000,216763646,Million Dollar Baby,Clint Eastwood|Hilary Swank|Morgan Freeman|Jay...,Clint Eastwood,"Beyond his silence, there is a past. Beyond he...",Despondent over a painful estrangement from hi...,132,Drama,Lakeshore Entertainment|Malpaso Productions|Ep...,12/14/2004,7.6,2004
886,tt0298203,41000000,215000000,8 Mile,Eminem|Mekhi Phifer|Brittany Murphy|Kim Basing...,Curtis Hanson,Every moment is another chance.,The setting is Detroit in 1995. The city is di...,110,Drama,Imagine Entertainment|Mikona Productions GmbH ...,11/8/2002,6.7,2002
1561,tt0378194,30000000,152159461,Kill Bill: Vol. 2,Uma Thurman|David Carradine|Daryl Hannah|Micha...,Quentin Tarantino,The bride is back for the final cut.,The Bride unwaveringly continues on her roarin...,136,Action|Crime|Thriller,Miramax Films|A Band Apart|Super Cool ManChu,4/16/2004,7.5,2004
1038,tt1592525,20000000,32204030,Lockout,Guy Pearce|Maggie Grace|Joseph Gilgun|Lennie J...,Stephen St. Leger|James Mather,Take no prisoners.,"Set in the near future, Lockout follows a fals...",95,Action|Thriller|Science Fiction,Canal+|EuropaCorp|CinÃ©+,4/12/2012,5.8,2012

# Предобработка

In [ ]:
answers = {} # создадим словарь для ответов

# Прибыль и убытки считаем разницей между
data1 = data.copy()
data1['profit']=data['revenue']-data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
pd.to_datetime(data.release_date)

# 1. У какого фильма из списка самый большой бюджет?

In [6]:
# в словарь вставляем номер вопроса и ответ на него
# пример:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [ ]:
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

In [ ]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [ ]:
data.sort_values(by='budget',ascending=False)

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

In [ ]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

In [ ]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [ ]:
data['runtime'].mean()

In [ ]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [ ]:
data['runtime'].median()

In [17]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
data1 = data.copy()
data1['profit']=data['revenue']-data['budget']

In [ ]:
data1[data1['profit'] == data1['profit'].max()]

In [20]:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [ ]:
data1[data1['profit'] == data1['profit'].min()]

In [22]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
data1[data1.profit > 0].original_title.count()

In [24]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
data[data['release_year'] == 2008].query('revenue == revenue.max()').original_title

In [26]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
d3 = data1.copy()
d3 = data1[(data1['release_year']>=2012)&(data1['release_year']<=2014)]
d3[d3['profit']==d3['profit'].min()]

In [28]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [ ]:
data1.genres.str.split('|').explode().mode()

In [31]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
data1[data1.profit>0].genres.str.split('|').explode().mode()[0]

In [33]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[data.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False)

In [35]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
data[data.genres.str.contains('Action')].director.str.split('|').explode().mode()[0]

In [37]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
cols = ['cast', 'revenue', 'original_title']
df = data.query('release_year == 2012')[cols].copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df = df.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue',ascending=False)
df

In [40]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
data[data.budget > data.budget.mean()].cast.str.split('|').explode().mode()[0]

In [44]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
d2 = data[data.cast.str.contains('Nicolas Cage')]
n_cage = d2['genres'].str.cat(sep='|')
n_cage = pd.Series(n_cage.split('|'))
n_cage.value_counts(ascending=False)

In [46]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
df = data1.copy()
df['production_companies'] = df['production_companies'].str.split('|')
df = df.explode('production_companies')
df1 = df[df.production_companies == 'Paramount Pictures']
df1.groupby(['original_title'])[['imdb_id','profit']].min().sort_values(by = 'profit')

In [48]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head()

In [50]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
data1[data1.production_companies.str.contains("Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False)

In [52]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
df_t = data.copy()
df_t.release_date = pd.to_datetime(df_t.release_date)
df_t.release_date.dt.strftime('%B').value_counts(ascending=False)

In [54]:
answers['21'] = 'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
df_t = data.copy()
df_t.release_date = pd.to_datetime(df_t.release_date)
df_t.release_date.dt.month.isin([6,7,8]).value_counts()

In [56]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
df= data.copy()
df.release_date = pd.to_datetime(df.release_date)
df[df.release_date.dt.month.isin([12,1,2])].director.str.split('|').explode('director').value_counts()

In [64]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
data1['title_length'] = data1['original_title'].map(lambda x: len(x))  
companies = data1['production_companies'].str.split('|').explode().unique()    
sum_gen = pd.Series(dtype='float64', index=companies)     

for comp in companies:
    sum_gen[comp] = data1['title_length'][data1['production_companies'].map(lambda x: True if comp in x else False)].mean()
    
sum_gen.sort_values(ascending=False)

In [77]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
df2 = data.copy()
df2['lenght_overview'] = df2['overview'].str.split(' ').str.len()
df2['production_companies'] = df2['production_companies'].str.split('|')
df2 = df2.explode('production_companies')
df2.groupby(['production_companies'])[['lenght_overview']].mean().idxmax()

In [146]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
top = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= top].sort_values(by='vote_average', ascending=False)['original_title']

In [172]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
from itertools import combinations

pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

In [181]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

# Submission

In [182]:
# ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [184]:
# и убедиться что ни чего не пропустил
len(answers)

27